flows.json
[{"id":"a9f9bec1.4d40a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"91cfd57d.754d78","type":"http in","z":"a9f9bec1.4d40a","name":"","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["44b8b204.880f8c","9206f727.030e38"]]},{"id":"9206f727.030e38","type":"function","z":"a9f9bec1.4d40a","name":"Set to1","func":"msg.payload = 1\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["8158e18f.0f194"]]},{"id":"8158e18f.0f194","type":"rpi-gpio out","z":"a9f9bec1.4d40a","name":"","pin":"18","set":"","level":"0","freq":"","out":"out","x":500,"y":120,"wires":[]},{"id":"44b8b204.880f8c","type":"function","z":"a9f9bec1.4d40a","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":360,"wires":[["75c9e924.e008d8","59c7325d.d8a7fc"]]},{"id":"75c9e924.e008d8","type":"debug","z":"a9f9bec1.4d40a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":360,"wires":[]},{"id":"59c7325d.d8a7fc","type":"http response","z":"a9f9bec1.4d40a","name":"","statusCode":"","headers":{},"x":420,"y":440,"wires":[]},{"id":"2440f84b.f8af98","type":"http in","z":"a9f9bec1.4d40a","name":"","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":140,"y":60,"wires":[["d3d7f73d.83e958"]]},{"id":"d3d7f73d.83e958","type":"function","z":"a9f9bec1.4d40a","name":"Set to 0","func":"msg.payload = 0\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["8158e18f.0f194"]]}]